html, body{margin:0px; padding: 0px;}
body{font-family: 'Open Sans', sans-serif;}
#main {width:60%; margin: 0px auto; padding: 10px;}
section{margin: 0px 0px 50px;}
section.about-col{
    background-size:contain;
    background-image: url("images/shapes/sectionbg.jpg");
    background-position:left top; 
    background-repeat: no-repeat;
}

.image{
    background-image: url("images/shapes/topppbg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;}

.ppimage{
background-image: url("images/shapes/pp_bg.png");
background-position: center center;
background-repeat: no-repeat;
background-size: contain;}


.two-col{display:flex;}
.two-col div{width:50%;}
.two-col div.content {padding: 70px 0px 0px;}
.two-col div img{width:80%;}
.intro-col img{float:right;}
.about-col img{float:left;}
.content p{margin: 10px 0px 25px;}
h1 span, h2 span{color:#6047EC;}
a{
    padding: 10px 40px; 
    background-image: linear-gradient(rgb(0, 183, 255), rgb(89, 35, 218)); 
    color:white; 
    text-decoration: none;
    font-weight: 700;
    border: 3px solid #aaa;
    border-radius: 30px;
    margin-top: 20px; 
}
a:hover{
    padding: 10px 40px; 
    background-image: linear-gradient(rgb(89, 35, 218),rgb(0, 183, 255)); 
    color:white; 
    text-decoration: none;
    font-weight: 700;
    border: 3px solid #aaa;
    border-radius: 30px;
    margin-top: 20px; 
}

.single-col h1, .single-col p{text-align: center;}
.three-col{display:flex;flex-wrap: wrap;}
.three-col div{
    width:29.33%;padding: 5px 1% 20px; margin:1%;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
    border-top: 7px solid #6047EC;
border-radius: 10px;}
.three-col div img{width:100%;height:auto;}
.menu {text-align: center;}
.menu a{
    padding: 7px 20px; 
    background-image: linear-gradient(rgb(1, 112, 156), rgb(69, 38, 143)); 
    color:white; 
    text-decoration: none;
    font-weight: 700;
    border: 3px solid #aaa;
    border-radius: 7px;
    margin-top: 20px; 
    outline: 1px solid blue;
}
section#orderus {max-width: 600px; margin: 0px auto;}
form{width: 100%;}
footer{padding:20px 0px;background-color: teal; color: white; text-align: center;}

form {
    width: 100%;
  }
input {
    width: 100%;
  }
textarea {
    width: 100%;
  }
table{
    width: 100%;margin-bottom:50px;
}
td.lcol{
    width:120px;
}
 

