html, body{margin:0px; padding: 0px;}
body{font-family: 'Open Sans', sans-serif;}
#main {width:60%; margin: 0px auto; padding: 10px;}
section{margin: 0px 0px 50px;}
.two-col{display:flex;}
.two-col div{width:50%;}
.two-col div.content {padding: 70px 0px 0px;}
.two-col div img{width:80%;}
.intro-col img{float:right;}
.about-col img{float:left;}
.content p{margin: 10px 0px 25px;}
h1 span, h2 span{color:#6047EC;}
a{
    padding: 10px 40px; 
    background-image: linear-gradient(rgb(0, 183, 255), rgb(89, 35, 218)); 
    color:white; 
    text-decoration: none;
    font-weight: 700;
    border: 3px solid #aaa;
    border-radius: 30px;
    margin-top: 20px; 
}
.recipies-sec h1, .recipies-sec p{text-align: center;}
.three-col{display:flex;flex-wrap: wrap;}
.three-col div{width:31.33%;padding: 1%;}
.three-col div img{width:100%;max-width:240px; height:auto;}
